USE [master]
GO
/****** Object:  Database [DBSuppliers]    Script Date: 26/10/2025 10:32:18 μμ ******/
CREATE DATABASE [DBSuppliers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBSuppliers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBSuppliers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBSuppliers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBSuppliers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBSuppliers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBSuppliers]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 26/10/2025 10:32:18 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierCategories]    Script Date: 26/10/2025 10:32:18 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierCategories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 26/10/2025 10:32:18 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](80) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[AFM] [char](9) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Phone] [char](10) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[CountryId] [int] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryId], [CountryName]) VALUES (1, N'Ελλάδα')
INSERT [dbo].[Countries] ([CountryId], [CountryName]) VALUES (2, N'Γερμανία')
INSERT [dbo].[Countries] ([CountryId], [CountryName]) VALUES (3, N'Ιταλία')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[SupplierCategories] ON 

INSERT [dbo].[SupplierCategories] ([CategoryId], [CategoryName]) VALUES (1, N'Τρόφιμα')
INSERT [dbo].[SupplierCategories] ([CategoryId], [CategoryName]) VALUES (2, N'Ηλεκτρονικός Εξοπλισμός')
INSERT [dbo].[SupplierCategories] ([CategoryId], [CategoryName]) VALUES (3, N'Εξοπλισμός Δωματίου')
SET IDENTITY_INSERT [dbo].[SupplierCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierId], [Name], [CategoryId], [AFM], [Address], [Phone], [Email], [CountryId], [IsActive]) VALUES (1, N'Μαριος Φρούτα', 1, N'123456789', N'Οδός Παπανδρέου 25, Αθήνα', N'2101234567', N'marios@fruit.gr', 1, 1)
INSERT [dbo].[Suppliers] ([SupplierId], [Name], [CategoryId], [AFM], [Address], [Phone], [Email], [CountryId], [IsActive]) VALUES (2, N'ΗΛΕΚΤΡΟΝΙΚΗ ΑΕ', 2, N'987654321', N'Λεωφόρος Κηφισίας 100', N'2107654321', N'info@elec.gr', 1, 1)
INSERT [dbo].[Suppliers] ([SupplierId], [Name], [CategoryId], [AFM], [Address], [Phone], [Email], [CountryId], [IsActive]) VALUES (3, N'ITALIA DESIGN', 3, N'111223344', N'Via Roma 10, Milano', N'3912345678', N'contact@italiadesign.it', 3, 0)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[SupplierCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
USE [master]
GO
